body{
    background:rgb(3, 27, 104);
    //Sbackground:rgb(2, 100, 90);
    overflow-x:hidden !important;
    //max-width: 100%;
    //position: absolute;
    //display: flex;
}

small{
    font-size: 11px;
}
.black{
    color: black;
}

.white{
    color: white;
}